body{
    background-image: url(imagenes/chloe\ bb\ 2.jpeg);
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .logo {
    align-items: center;
    margin-bottom: 20px;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .logo img{
    width: 100%;
    height: auto;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    padding: 10px;
  }
  
  #s {
    background: #f2f2f2;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    outline: none;
    margin: 0;
  }

  .button {
    background: #4285f4;
    border: none;
    border-radius: 3px;
    width: 69px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  