/* Estilos generales para el cuerpo del documento */
body {
  background-image: url(imagenes/chloe\ bb\ 2.jpeg);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Estilos para la sección del logotipo */
.logo {
  align-items: center;
  margin-bottom: 20px;
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
}

/* Estilos para la imagen del logotipo */
.logo img {
  width: 100%;
  height: auto;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  max-width: 100%; /* Asegura que el formulario no sea más ancho que su contenedor */
  padding: 10px;
}

/* Estilos para el campo de entrada de texto */
#s {
  background: #f2f2f2;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 0;
}

/* Estilos para el botón de envío */
.button {
  background: rgba(254, 139, 32, 0.822);
  border: none;
  border-radius: 3px;
  width: 69px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Media Queries para diferentes dispositivos */

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
  .container {
    margin-top: 50px;
  }
  
  .logo {
    width: 50%; /* Ajusta el tamaño del logotipo para pantallas más pequeñas */
  }
  
  form {
    flex-direction: column; /* Cambia la dirección del formulario a columna */
    width: 90%;
  }
  
  .button {
    width: 100%; /* Botón ocupa todo el ancho del formulario */
    margin-top: 10px; /* Agrega margen superior para separar del campo de texto */
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    margin-top: 80px;
  }
  
  .logo {
    width: 40%; /* Ajusta el tamaño del logotipo para tabletas */
  }
  
  form {
    width: 80%;
  }
}

/* Para pantallas grandes (computadoras) */
@media (min-width: 1025px) {
  .container {
    margin-top: 100px;
  }
  
  .logo {
    width: 25%; /* Tamaño original del logotipo */
  }
  
  form {
    width: 500px;
  }
}
