body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}



.header{
    background: linear-gradient(
        90deg,
        rgba(245, 98, 72, 0.699) 0%,
        rgba(254, 139, 32, 0.822) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}
body{
    background: linear-gradient(
        rgba(29,30,35,0.8),
        rgba(29,30,35,0.8)
    ),
    url(imagenes/Princesa\ .jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 120px 0 0 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

.logo img {
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #fff;
    color: #000000;
}

.main {
    padding: 200px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    display: block;
    font-size: 85px;
    line-height: 1;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 2px rgba(254, 139, 32, 0.822), 0 0 2px rgba(254, 139, 32, 0.822), 0 0 2px rgba(254, 139, 32, 0.822), 0 0 2px rgba(254, 139, 32, 0.822);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    font-size: 24px;
    margin-bottom: 40px;
    color:#fff;
    text-shadow: 0 0 1px rgba(254, 139, 32, 0.822), 0 0 1px rgba(254, 139, 32, 0.822), 0 0 1px rgba(254, 139, 32, 0.822), 0 0 1px rgba(254, 139, 32, 0.822);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (max-width:768px) {
    .header {
        padding: 15px 20px;
    }

    .header .container {
        flex-direction: column;
    }

    .header .logo {
        margin-bottom: 20px;
    }

    .header .nav {
        margin-top: 20px;
    }

    .header .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header .nav-links a {
        padding: 10px;
    }
}